// Import '_custom.scss' overrides of Bootstrap's default variables
@import "custom";
// Import  Bootstrap's scss
@import "~bootstrap/scss/bootstrap";

/* Global scss goes below */

// Import Global Font Choice
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

// Import Google Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

// Add boilerplate CSS for Material Icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
